<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span>PWA Angular Test App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent">Add to home
      screen</button>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-card *ngFor="let item of responses" style="display: flex;">
    <mat-card-header>
      <img src="{{item.imageUrl}}" alt="" width="600px" height="250px">
    </mat-card-header>
    <mat-card-content>
      <strong>{{item.name}}</strong>
      <br />
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="#" color="primary">{{item.price}}$</a>
    </mat-card-actions>
  </mat-card>
</main>
<router-outlet></router-outlet>